apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Release.Name }}-backend
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: {{ .Release.Name }}-backend
  template:
    metadata:
      labels:
        app: {{ .Release.Name }}-backend
    spec:
      containers:
        - name: backend
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          ports:
            - containerPort: 8000
          env:
            - name: DATABASE_USER
              value: {{ .Values.postgres.user | quote }}
            - name: DATABASE_PASSWORD
              value: {{ .Values.postgres.password | quote }}
            - name: DATABASE_NAME
              value: {{ .Values.postgres.database | quote }}
            - name: DATABASE_HOST
              value: geekform-postgres
